body {
  background-color: #b2e3dd;
  color: #422f0d;
  border: 8px dashed #50a82a;
  border-radius: 10px;
  margin-bottom: auto;
}

header {
  font-family: Lobster, cursive;
  font-size: 24px;
  text-align: center;
}

select {
  background-color: #b5e6a3;
  color: #422f0d;
  border: 5px outset #50a82a;
  border-radius: 10px;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  margin: 8px;
  padding: 25px;
  width: 300px;
  height: 120px;
}

fieldset {
  margin: 30px;
  width: 300px;
  background-color: #b5e6a3;
  color: #422f0d;
  border: 5px outset #50a82a;
  border-radius: 10px;
}

#input {
  background-color: #dfe0be;
  color: #422f0d;
  align-self: center;
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 15px;
}

#flexbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  margin-left: 415px;
}

#rice1,
#rice2 {
  text-align: center;
}

h2 {
  font-family: Lobster, cursive;
  font-size: 20px;
}

p {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  margin: 15px;
}

